name: Publish Package to jsr and npmjs
on:
  release:
    types: [created]
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: "lts/*"
          registry-url: "https://registry.npmjs.org"
      - uses: denoland/setup-deno@v2
        with:
          deno-version: vx.x.x # Run with latest stable Deno.
      - name: Update npm@latest # Ensure npm 11.5.1 or later is installed
        run: npm install -g npm@latest
      - run: npm ci
      - run: deno install
      - run: npm run build
      - run: deno fmt
      - run: npx jsr publish
      - run: npm publish --access public
